#!/usr/bin/env python

PACKAGE='social_navigation_layers'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("min_value", int_t, 0, "Minimum occupancy grid value to keep", 1, 0, 100)
gen.add("transform_tolerance", double_t, 0, "TF lookup tolerance in seconds", 0.3, 0.0, 2.0)

exit(gen.generate(PACKAGE, "social_navigation_layers", "GridPredictionLayer"))
