<launch>
  <arg name="gui" default="true" doc="Bring up the Gazebo graphical interface"/>
  <arg name="model_file"   default="$(find scope_nav)/src/model/predocc_diff/ldm2.0/model.pth"/>
  <arg name="rviz" default="true"/> 
  <arg name="debug_save" value="true"/>

  <!-- AMCL -->
  <include file="$(find scope_nav)/launch/amcl_demo_former.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- SLAM -->
  <!--node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
      <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_lifelong.yaml" />
  </node-->

  <!-- Move base -->
  <include file="$(find scope_nav)/launch/includes/move_base_former.launch.xml">
  </include>

  <!-- Goal visualization -->
  <node pkg="scope_nav" name="goal_visualize" type="goal_visualize.py" output="screen" />

  <!-- SCOPE Costmap Publisher -->
  <include file="$(find scope_nav)/launch/scope_costmap_pub.launch">
    <arg name="model_file" value="$(arg model_file)"/>
  </include>

  <!-- Pedestrian Publisher -->
  <node name="track_ped_pub" pkg="scope_nav" type="track_ped_pub.py" output="screen"/>

  <!-- Goal visualization -->
  <node pkg="scope_nav" name="scope_goal_visualize" type="goal_visualize.py" output="screen" />

  <!-- Rviz -->
  <include file="$(find scope_nav)/launch/view_navigation.launch" if="$(arg rviz)"/>

</launch>
